<html lang="en">
<head>
  <link href="navbar.component.css" rel="stylesheet">
</head>
<body>

<header class="site-header sticky-top py-1">

  <nav class="container d-flex flex-column flex-md-row justify-content-between">
   <img src="assets/logo.jpg" width="100" height="100">
    <a class="nav-link active" aria-current="page" [routerLink]="['principal']">Home</a>
    <a class="py-2" href="#" aria-label="Product">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
    </a>
    <a class="nav-link active" aria-current="page" [routerLink]="['categoria/exclusivos']">Exclusivos online</a>
    <a class="nav-link active" aria-current="page" [routerLink]="['categoria/gamers']">Videojuegos</a>
    <a class="nav-link active" aria-current="page" [routerLink]="['categoria/computo']">Cómputo</a>
    <a class="nav-link active" aria-current="page" [routerLink]="['categoria/audioyvideo']">Audio y Video</a>
    <a class="nav-link active" aria-current="page" [routerLink]="['categoria/hogar']">Hogar y Seguridad</a>
    <a class="nav-link active" aria-current="page" [routerLink]="['categoria/telefonia']">Telefonía</a>
    <a class="nav-link active" aria-current="page" [routerLink]="['categoria/saludybelleza']">Salud y Belleza</a>


    <div>
      <button type="button" class="btn btn-light text-dark me-2">Iniciar sesión</button>
      <button type="button" class="btn btn-primary">Registrate</button>
    </div>
  </nav>
</header>

</body>
</html>
