<html lang="en">
<head>
  <link href="telefonia.component.css" rel="stylesheet">
</head>
<body>

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">TELEFONÍA</h1>
      <p class="lead fw-normal">Telefonía celular, telefonía fija y accesorios.</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">IPHONE XS APPLE / 64GB / REACONDICIONADO</h2>
        <p class="lead">$9,599.00</p>
        <a class="btn btn-primary" href="#" role="button">VER DETALLES</a>
      </div>
      <img src="./assets/iphone%20XS.jpg" width="300" height="300">
    </div>

    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">SAMSUNG A6 / 8GB / REACONDICIONADO</h2>
        <p class="lead">De $6,199.00</p>
        <a class="btn btn-primary" href="#" role="button">VER DETALLES</a>
      </div>
      <img src="./assets/samsungA6.jpg" width="300" height="300">
    </div>
  </div>



  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">TELÉFONO ALÁMBRICO GIGASET DA180</h2>
        <p class="lead">$399.00</p>
        <a class="btn btn-primary" href="#" role="button">VER DETALLES</a>
      </div>
      <img src="./assets/telefono.jpg" width="300" height="300">
    </div>


    <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">TELÉFONO ALÁMBRICO SELECT SOUND 8836</h2>
        <p class="lead">$259.00</p>
        <a class="btn btn-primary" href="#" role="button">VER DETALLES</a>
      </div>
      <img src="./assets/telefono2.png" width="300" height="300">
    </div>
  </div>

</main>
<app-footer></app-footer>
</body>
</html>





