
<link href="confirmacioncompra.component.css" rel="stylesheet">
<body>
<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/assets/paqueteria.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">AGRADECEMOS POR SU COMPRA</h1>
      <p class="lead">En los próximos días recibirás actualizaciones sobre tu pedido.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Imprimir comprobante</button>
      </div>
    </div>
  </div>
</div>
</body>
<app-footer></app-footer>
