<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">AUDIO Y VIDEO</h1>
        <p class="lead text-muted">Audífonos inalámbricos Sony</p>
        <p>
          <a href="#" class="btn btn-primary my-2">AGREGAR AL CARRITO</a>
          <a href="#" class="btn btn-secondary my-2">REGRESAR</a>
        </p>
      </div>
    </div>
  </section>

  <div class="card-group">
    <div class="card">
      <img src="assets/Aud_Sony.jpg" class="card-img-top" alt="...">
      <div class="card-body">
      </div>
    </div>

    <div class="card">
      <img src="assets/Aud_Sony.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SONY</h5>
        <p class="card-text">Audifonos inalámbricos Sony</p>
        <p class="card-text">$299.00</p>
      </div>
    </div>

    <div class="card">
      <img src="assets/Aud_Sony.jpg" class="card-img-top" alt="...">
      <div class="card-body">
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
