
<html lang="en">
<head>
  <link href="principal.component.css" rel="stylesheet">
</head>

<body>

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">

      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">ELECTRONICS STORE</a>
      </div>
    </div>
  </header>


</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Nacimos trabajando con la tecnología</h1>
      <p class="lead my-3">¡Atrevete a darle un giro tecnológico a tu vida!</p>
      <img src="assets/tienda.jpg">
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">¿Quénes somos?</strong>
          <p class="card-text mb-auto"> Somos una empresa dedicada al comercio de artefactos tecnológicos innovadores que permitan a nuestros clientes disfrutar la vida de mano con la tecnología. ¡ACÉRCATE A CONOCERNOS!</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/logo.jpg">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">¿De dónde somos?</strong>
          <p class="mb-auto">Somos una empresa mexicana, que garantiza productos de calidad y de categoría en cuanto a la exportación al país.</p>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    </div>
  </div>

  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
        <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>Acerca de</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Acerca de nosotros</a></li>
          <li><a class="link-secondary" href="#">Ubicar tiendas</a></li>
          <li><a class="link-secondary" href="#">Tel. 5525820999</a></li>
          <li><a class="link-secondary" href="#">sclientes@electronics.com.mx</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Atención al cliente</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Facturación</a></li>
          <li><a class="link-secondary" href="#">Información de entrega</a></li>
          <li><a class="link-secondary" href="#">Contáctanos</a></li>
          <li><a class="link-secondary" href="#">Garantía</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Información del sitio</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Convenio de usuario</a></li>
          <li><a class="link-secondary" href="#">Aviso de privacidad</a></li>
          <li><a class="link-secondary" href="#">Devoluciones</a></li>
          <li><a class="link-secondary" href="#">Formas de pago</a></li>
        </ul>
      </div>
    </div>
  </footer>
</main>
</body>
</html>

